@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
}

header {
    padding: 20px;
    text-align: center;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-top: 10px;
}

.gerador {
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.apagar {
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.apagar:hover {
    background-color: darkred;
}

div.resultado {
    background-color: rgb(216, 216, 216);
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.tabuada {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 40px;
    font-weight: 600;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}